<div class="modal-header">
    <h4 class="modal-title">Crear Nueva Planta</h4>
    <button type="button" class="btn-close" (click)="closeForm()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="plantaForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Seleccionar Pais</label>
            <input type="text" class="form-control" id="country" formControlName="country">
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!plantaForm.valid">Crear</button>
        </div>
    </form>
</div>