<div class="navbar">
    <button mat-icon-button (click)="toggleSidenav()" class="logo-button">
        <mat-icon svgIcon="logo" class="large-icon"></mat-icon>
    </button>
    <h2 class="title-left">Monitoreo global</h2>
    <div class="navbar-right">
        <img src="assets/icons/world.svg" width="20" height="20" alt="world icon">
        <img src="assets/icons/wheel.svg" width="20" height="20" alt="wheel icon">
        <img src="assets/icons/notification.svg" width="20" height="20" alt="notification icon">
        <span class="navbar-user fs-5">{{currentUser}}</span>
    </div>
</div>